
{extend name='admin@public/base'/}


{block name='title'}张少的CMS{/block}

{block name='link'}{/block}


<!-- 左侧导航 -->
 {block name='sidebar_menu'}
              <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-user"></i>
                            <span class="menu-text">管理员</span>
                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="/admin/document/index.html">
                                    <span class="menu-text">
                                        管理列表                                    </span>
                                    <i class="menu-expand"></i>
                                </a>
                            </li>
                        </ul>                            
              </li> 
{/block}

{block name='topbar'}     
    <li><a href="#">后台首页</a> </li>
{/block}  



 {block name='content'}
 
                <div style="text-align:center; line-height:1000%; font-size:24px;">
                童老师THinkPHP5.0正式版 第三季 实战开发大型CMS<br>
                <p style="color:#f00;">ThinkPHP交流群①：484519446【满】 | 群②：480018415【满】  | 群③：198909858</p></div>
                </div>
 {/block}

     
	

 {block name='js'}{/block} 

